@import "@/utilities/sass-variables.scss";

@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

body,
html {
    overflow-x: hidden;
}

#app {
    background-attachment: fixed;
    background-color: purple;
    background-image: linear-gradient(to top, #1f1f1fce, #1f1f1fce),
        url("assets/image/background.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Tenorite", Roboto, Sans-serif;
    height: 100vh;
    position: absolute;
    width: 100vw;
    overflow-y: scroll;

    header {
        display: grid;
        font-size: 16pt;
        grid-template-areas: "name nav";
        grid-template-columns: 20% 1fr;
        margin: 1rem auto 0;
        max-width: 1400px;

        a {
            text-decoration: none;
        }

        .name {
            color: $white;
            font-weight: 700;
            grid-area: name;
            margin: auto 0;
            min-width: 150px;
            text-transform: uppercase;
        }

        nav {
            background-color: $white-t;
            border-radius: 3px;
            display: flex;
            justify-content: right;
            padding: 0.75rem 4rem;

            ul.links {
                display: flex;
                grid-area: nav;

                li.link {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: $white;
                    }

                    + li.link {
                        margin-left: 4rem;
                    }
                }
            }
        }
    }

    .app-body {
        margin: 1rem 1rem 0;
    }
}

/* Scrollbar */

// width
::-webkit-scrollbar {
    width: 10px;
}

// Track
::-webkit-scrollbar-track {
    // background: $gray-d;
}

// Handle
::-webkit-scrollbar-thumb {
    background: $purple;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: $purple-hover;
}
